body{

background: linear-gradient(135deg,#dbeafe,#bfdbfe);

font-family:'Segoe UI';

min-height:100vh;

}

.card{

background:white;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.15);

transition:0.4s;

}

.card:hover{

transform:translateY(-8px);

}

.btn{

border-radius:30px;

}

.navbar{

background:#3b82f6;

}

.table{

background:white;

border-radius:10px;

}
/* THEMES */

.dark-theme{
background:#0f2027;
color:white;
}

.blue-theme{
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
}

.purple-theme{
background:linear-gradient(135deg,#42275a,#734b6d);
color:white;
}